{% extends 'polls/base.html' %}
{% block stylesheets %}
{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'polls/css/polls.css' %}">
{% endblock %}
{% block content %}
{% if latest_question_list %}

	
	{% for question in latest_question_list %}

		<h2 class="pollTitle">{{ question.question_text }}</h2>
		<div class="questionDiv">
				<!-- Add in another for loop that iterates over each candidate and inserts this html-->
				<div class="nomineeDiv">
					<!--Each of these should be getting their photos from the static folder-->
					<img src="{% static 'polls/img/carter.jpg' %}" alt="" height="200" width="150">

					<!--Get the text from the person and place it in where "Joe Schmoe" is-->
					<p class="nomineeText">Joey</p> 
				</div>
				
		</div>
	{% endfor %}
	
{% else %}
	<p id="warning">No polls are available.</p>
{% endif %}


{% endblock %}
