body, h2 {
	background-color: #F4F4F4;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;

}

header {
	max-height: 500px;
	background: #F4F4F4;
}

.centerit {
	text-align: center;
	margin: 0 auto;
}

#cavsLogo {
	margin: 20px;
	border-radius: 50%;
	border: 5px solid #00AEEF;
}

.buttons {
	background-color: #253849; 
    border: none;
    color: #F4F4F4;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

.menuItem {
	text-align: center;
	line-height: 350px;
}

#content {
	text-align: center;
}
