
.questionDiv {
	display: inline-block;
	width: 100%;
	margin: 0 auto;
}

.nomineeDiv {
	display: inline-block;
	padding: 20px;
	text-align: center;
	margin: 0 auto;
	height:300px; 
	width:200px;
}

#warning {
	color: red;
	text-align: center;
	width: 100%;
}

.nomineeText {
	text-align:center;
	color:#253849;
	font-size:18px;
	margin-top:10px;
	display: block;
}

.pollTitle {
	color:#253849;
	font-size:28px;
	margin-top: 20px;
}

label > input{ 
  visibility: hidden; 
  position: absolute; 
}

label > input + img{ 
  cursor:pointer;
  border:none;
}

label > input:checked + img{ 
  border:4px solid #00AEEF;
}

