<!DOCTYPE html>
<html lang="en">
	{% load static %}
	<head>
		<link rel="stylesheet" type="text/css" href="{% static 'polls/css/foundationCSS/foundation.css' %}">
		<!-- if you want to make changes to the styling in foundation, do it in app.css -->
		<link rel="stylesheet" type="text/css" href="{% static 'polls/css/foundationCSS/app.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'polls/css/style.css' %}">
		<link rel="icon" href="{% static 'polls/img/favicon.ico' %}" type="image/x-icon" />
		{% block stylesheets %}
		{% endblock %}
		<title> Chi Alpha Pi Polls </title>
	</head>
	<body>
		<header>
			<div class="grid-x">
				<div class="cell small-12 medium-4 menuItem"><span><button type="button" class="button buttons">Home</button></span></div>
				<div id="centerLogo" class="cell small-12 medium-4 centerit" ><img id="cavsLogo" src="{% static 'polls/img/newcavslogo.png' %}" alt="" height="300px" width="300px"/></div>
				<div class="cell small-12 medium-4 menuItem"><span><button type="button" class="button buttons">Sign Up</button><span></div>
			</div>
		</header>
		<div id="content">
			{% block content %}
			{% endblock %}
		</div>
	</body>
</html>