{% extends 'polls/base.html' %}

{% block content %}


  <form method="post">
    {% csrf_token %}
    {% for field in form %}
    <div class="grid-x">
    <div class="cell medium-4 small-2"></div>
    <div class="cell medium-4 small-8">
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    </div>
     <div class="cell medium-4 small-2"></div>
    </div>
    {% endfor %}
    <div class="centerit"><button type="submit" class="buttons button">Sign up</button></div>
  </form>
{% endblock %}